{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Entry
{% endblock %}

{% block body %}

   <form action="" method="POST">

    {% csrf_token %}


    <div>

        <input type="text" value="{{title}}" name="TITLE">

    </div>    
    
    <div>
        <div>
            <div>
                <label for="">Body:</label>
            </div>

            <textarea name="BODY" id="BODY" cols="15" rows="1" style="resize: none;">{{body}}</textarea>
        
        </div>


    </div>

    <div>

        <input type="submit">

    </div>



   </form>
{% endblock %}