{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

<div>
    <form action="/new" method="POST">

        {% csrf_token %}

        <div>
        <label for="">Title</label>
        {{form.title}}
        </div>

        <div>
        <div>
        <label for="">Body:</label>
        </div>
        <textarea name="body" id="body" cols="15" rows="1" style="resize: none;"></textarea>
        </div>

        <input type="submit" value="Submit">

    </form>
</div>

{% endblock %}